@mixin headings {
    font-family: $headings-font;
    font-weight: 700;
    color: $heading-color;
}

@mixin text {
    font-family: $text-font;
    font-weight: $base-font-weight;
    color: $text-color;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}