/* Brand Colors ------------------------------------------------*/

$heading-color: #260a00;
$text-color: #000;
$gold-color: #D5B584;
$base-font-weight: 300;
$headings-font: "Roboto Mono",
monospace;
$text-font: "Roboto",
sans-serif;