/* Brand Colors ------------------------------------------------*/

	$color1: #e21a22;
	$font-color: #6a6a6b;
	$color2: #272727;

	$base-font-weight: 400;
	$headings-font: 'Roboto', sans-serif;
	$text-font: 'Roboto Mono', monospace;

	