.main {
    .dots {
        position: absolute;
        width: 20vw;
        &-1 {
            left: 0;
            top: 20%;
        }
        &-2 {
            right: -20%;
            top: 50%;
            transform: translateY(-50%);
        }
        &-3 {
            left: 55%;
            bottom: 5%;
            transform: translateX(-50%);
            opacity: 0.5;
            width: 26vw;
        }
        &-4 {
            right: 0;
            top: 10%;
        }
    }
    .text-center {
        text-align: center;
    }
    .align-center {
        align-items: center;
    }
    .mb-0 {
        margin-bottom: 0;
    }
    .mb-2 {
        margin-bottom: 2rem;
    }
    .bold {
        font-weight: 700;
    }
    .mx-auto {
        margin: 0 auto;
    }
    .read-more {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: $text-color;
        font-family: $headings-font;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        border: 2px solid #000;
        width: 200px;
        height: 45px;
        padding: 10px 20px;
        .arrow {
            width: 45px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -10px;
            right: 0;
            background: $gold-color;
            width: 0px;
            height: 2px;
            transition: 0.5s;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            right: -10px;
            background: $gold-color;
            width: 2px;
            height: 0px;
            transition: 0.5s;
        }
        &:hover {
            &:after {
                width: 100px;
            }
            &:before {
                height: 65px;
            }
        }
    }
    .main-section {
        .promo {
            font-size: 24px;
            line-height: 39px;
            position: relative;
            margin-bottom: 40px;
            padding-left: 40px;
            &::before {
                content: "+";
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 48px;
                color: $gold-color;
            }
        }
        .find-us {
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            .contact-block {
                max-width: 275px;
                .contact-p {
                    text-transform: uppercase;
                    color: $gold-color;
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 7px;
                }
                .content-p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .main-slider {
            position: relative;
            .play-btn {
                position: absolute;
                top: 50%;
                left: -45px;
                transform: translateY(-50%);
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(38, 10, 0, 0.3);
                cursor: pointer;
                transition: 0.5s;
                .arrow-right {
                    width: 0;
                    height: 0;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 25px solid #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-35%, -50%);
                }
                &:hover {
                    box-shadow: 0px 0px 30px 4px rgba(38, 10, 0, 0.3);
                    transform: translateY(-50%) scale(1.1);
                }
            }
        }
    }
    .about-us {
        h3 {
            position: relative;
            margin-left: 10px;
            &::after {
                content: "";
                position: absolute;
                left: -10px;
                top: 50%;
                transform: translateY(-45%);
                height: 41px;
                width: 4px;
                background: $gold-color;
            }
        }
        .about-us-coffee {
            position: relative;
            width: 60%;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #d5b584;
                width: 167%;
                height: 135%;
                z-index: -1;
            }
            .cakes,
            .coffee {
                position: absolute;
                text-transform: uppercase;
                left: -30%;
                top: -20%;
                z-index: 1;
                line-height: 141px;
                letter-spacing: 0.2em;
                color: #efdaba;
            }
            .coffee {
                left: unset;
                top: unset;
                right: -35%;
                bottom: -20%;
            }
        }
    }
    .our-instagram {
        .insta-images {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .insta-img-holder {
                margin: 0px 14px;
            }
            .side {
                width: 25%;
                background: #260a00;
                height: 90px;
            }
            .our-insta {
                display: flex;
                align-items: center;
                p {
                    margin-bottom: 0;
                }
                .read-more {
                    margin-left: 40px;
                }
            }
        }
    }
    .new-positions {
        .new-pos-images {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .new-pos-img-holder {
                margin: 0px 14px;
                .new-pos-description {
                    .cake {
                        &-name {
                            font-size: 22px;
                            line-height: 34px;
                            font-family: $headings-font;
                            font-weight: 700;
                        }
                        &-price {
                            font-size: 22px;
                            line-height: 51px;
                            color: $gold-color;
                            font-family: $headings-font;
                            font-weight: 700;
                            position: relative;
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: -10px;
                                left: 50%;
                                height: 2px;
                                width: 155px;
                                background-image: url(../images/gold-line.png);
                                transform: translateX(-50%);
                            }
                            .price {
                                font-size: 36px;
                                line-height: 51px;
                                color: $gold-color;
                                font-family: $headings-font;
                                font-weight: 700;
                                margin-right: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .read-more {
            width: 330px;
            .arrow {
                margin-left: 1rem;
            }
        }
    }
    .new-guest {
        .bordered {
            border: 1px solid #260A00;
            padding: 2rem 1rem;
        }
        .new-guest-img {
            position: relative;
            width: 22vw;
            .discount {
                position: absolute;
                width: 7vw;
                height: 7vw;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                background: $gold-color;
                @include flex-center;
                font-size: 72px;
                line-height: 84px;
                font-family: $headings-font;
                font-weight: 700;
                color: #fff;
            }
        }
        .new-guest-text {
            font-size: 18px;
            line-height: 30px;
        }
        .timer {
            font-size: 72px;
            line-height: 101px;
            font-family: $headings-font;
            color: $gold-color;
        }
    }
}