.main {
    .dots {
        position: absolute;
        width: 20vw;
        &-1 {
            left: 0;
            top: 20%;
        }
        &-2 {
            right: -20%;
            top: 50%;
            transform: translateY(-50%);
        }
        &-3 {
            left: 55%;
            bottom: 5%;
            transform: translateX(-50%);
            opacity: 0.5;
            width: 26vw;
        }
        &-4 {
            right: 0;
            top: 10%;
        }
    }
    .main-section {
        .promo {
            font-size: 24px;
            line-height: 39px;
            position: relative;
            margin-bottom: 40px;
            padding-left: 40px;
            &::before {
                content: "+";
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 48px;
                color: $gold-color;
            }
        }
        .find-us {
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            .contact-block {
                max-width: 275px;
                .contact-p {
                    text-transform: uppercase;
                    color: $gold-color;
                    font-size: 18px;
                    line-height: 25px;
                    margin-bottom: 7px;
                }
                .content-p {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
        .main-slider {
            position: relative;
            .play-btn {
                position: absolute;
                top: 50%;
                left: -45px;
                transform: translateY(-50%);
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0px 0px 30px rgba(38, 10, 0, 0.3);
                cursor: pointer;
                transition: 0.5s;
                .arrow-right {
                    width: 0;
                    height: 0;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-left: 25px solid #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-35%, -50%);
                }
                &:hover {
                    box-shadow: 0px 0px 30px 4px rgba(38, 10, 0, 0.3);
                    transform: translateY(-50%) scale(1.1);
                }
            }
        }
    }
    .about-us {
        .about-us-coffee {
            position: relative;
            width: 60%;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #d5b584;
                width: 167%;
                height: 135%;
                z-index: -1;
            }
        }
    }
}